.welcome {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    // height: 100vh;

    margin-top: calc(50vh);
    margin-left: 150px;

    &__title {
        color: $blue;
        font-size: 24px;

        margin-bottom: 15px;
    }

    &__tag {
        font-weight: 700;
    }
}