*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    color: $white;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    background-color: $black;
    overflow-x: hidden;
}

a {
    color: $white;
    text-decoration: none;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.main-content {
    margin-left: 150px;
}