.about-me {
    position: relative;
    // height: 45vh;

    // margin-top: 520px;

    &__hacker-icon {
        position: absolute;
        bottom: 0;
        right: -500px;

        height: 70vh;
    }
}

.check-icon {
    color: $green;
    font-weight: 700;
    margin-right: 10px;
}

.hacker-circle {
    position: absolute;
    top: 0;
    right: -410px;
    height: 597px;

    svg circle {
        fill: yellow;
        background-color: #fff;
    }
}